<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <!-- PROD -->
    <add name="K3EntitiesADO" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = 172.18.8.168)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = k3prod_srv))); User Id = KEWILLFWD; Password = fu6rufra" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="K3DREntitiesADO" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = KLHKPC3SRV042)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = k3proddr_srv))); User Id = KEWILLFWD; Password = fu6rufra" providerName="Oracle.ManagedDataAccess.Client" />

    <!--PROD REPORT--><!--
    <add name="K35EntitiesADO" connectionString="server=172.24.50.7;user id=k35prod; password =_KLd9Zaa; persistsecurityinfo=True;database=k35prod" providerName=".NET Framework Data Provider for MySQL" />
    <add name="K35DESTEntitiesADO" connectionString="server=172.24.50.7;user id=k35prod; password =_KLd9Zaa; persistsecurityinfo=True;database=k35prod" providerName=".NET Framework Data Provider for MySQL" />



    --><!--UAT--><!--
    <add name="K5UATEntitiesADO" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = KLSGAWA08SRV013)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = kff))); User Id = kff; Password = GeDXe4uf" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="K35DEVEntitiesADO" connectionString="server=172.24.48.131;user id=k35prod; password =_KLd9Zaa; persistsecurityinfo=True;database=k35prod_03" providerName=".NET Framework Data Provider for MySQL" />-->


    <!--<add name="K35DESTEntitiesADO" connectionString="server=127.0.0.1;user id=root; password =Abcd1234; persistsecurityinfo=True;database=k35prod" providerName=".NET Framework Data Provider for MySQL" />-->


  </connectionStrings>




  <appSettings>
    <add key="K3DataProvider" value="Oracle.ManagedDataAccess.Client" />
  </appSettings>

</configuration>